# Data Science Tools and Eco System

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Excel
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. DPLYR
2. GGPLOT2
3. CARET

|Data Science Tools|
|------------------|
|MySQL             |
|PostGRESQL        |
|MongoDB           |
|Hadoop            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
print("This a simple arithmetic expression to mutiply then add integers.")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers.

17

In [16]:
print("This will convert 200 minutes to hours by diving by 60.")
minutes = 200
Hours = minutes/60
print(Hours)

This will convert 200 minutes to hours by diving by 60.
3.3333333333333335

**Objective:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List Data Science Open Source Tools
- Demenstrate coding in Notebooks

## Author ##
Andrew Deaton